# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.local
*.env

# SQLite local database files
*.sqlite
*.sqlite3

# Log files
logs/
*.log
npm-debug.log*

# OS & IDE metadata
.DS_Store
.vscode/
.idea/
